*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

header{
    height:100px; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 90%; 
    margin: 0 auto; 
    background-color: white;
}

header .hamburger{
    display: none; 
}

header ul {
    display: flex; 
    list-style: none; 
}

header ul li a{
    text-decoration: none;
    margin: 0 20px; 
    padding-bottom: 40px; 
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}

header ul li a:hover{
    border-bottom: 3px solid hsl(192, 70%, 51%); 
    color: hsl(233, 26%, 24%);
}

.mobile-nav{
    display: none;
}

button{
    font-weight: 700; 
    border-radius: 20px; 
    padding: 15px 30px; 
    color: white; 
    border: none; 
    cursor: pointer; 
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%)); 
}

main{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px); 
    overflow-x: hidden; 
    background-color: hsl(0, 0%, 98%);
}

.herodiv{
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.left-content{
    width: 35%; 
    margin: 0 auto; 
    margin-left: 55px; 
}

.left-content .title{
    font-size: 44px; 
    font-weight: 300;
    color:hsl(233, 26%, 24%); 
}

.left-content .content{
    margin: 30px 0; 
    line-height: 24px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}

.right-content{
    /* width: 50%;  */
    background: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-x: 150px;
    background-position-y: -80px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.right-content img{
    width: 70%; 
    overflow-x: hidden;
    transform: translate(250px, -70px);
}

.whyus{
    width: 90%; 
    margin: 0 auto; 
}

.heading h1, .latestarticles h1{
    font-size: 32px;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
    margin: 20px 0; 
}

.heading p{
    margin-top: 8px; 
    font-weight: 300;
    width: 50%;
    line-height: 25px; 
    color: hsl(233, 8%, 62%);
}

.features{
    display: flex; 
    margin: 70px 0; 
}

.features article{
    margin-right: 20px; 
}

.features article:last-child{
    margin-right: 0;
}

.features article h3{
    font-size: 20px; 
    font-weight: 300;
    color:hsl(233, 26%, 24%); 
    margin: 30px 0; 
}

.features article p{
    font-weight: 300;
    font-size: 14px; 
    line-height: 24px; 
    color:hsl(233, 8%, 62%); 
}

.latestarticles{
    width: 90%; 
    margin: 0 auto; 
}

.articles{
    display: flex; 
    margin: 40px 0; 
}

.articles article{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-right: 20px; 
    background: white; 
}

.articles article:last-child{
    margin-right: 0;
}

.articles article div {
    padding: 0 20px 20px; 
}

.articles article h6{
    font-size: 12px; 
    font-weight: 300;
    margin: 30px 0 10px; 
    color:hsl(233, 26%, 24%); 
}

.articles article h3{
    font-weight: 400;
    margin-bottom: 10px; 
    line-height: 20px;
    color:hsl(233, 26%, 24%); 
}

.articles article p{
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: hsl(233, 8%, 62%);
}

.articles img{
    width: 100%; 
    height: 180px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer{
    background:hsl(233, 26%, 24%); 
    padding: 40px 0 40px; 
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 90%; 
    margin: 0 auto; 
}

footer .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .socials img{
    margin-right: 10px; 
}

footer .socials .logo{
    margin-bottom: 35px; 
}

footer nav ul{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 40px; 
}

footer nav ul li{
    margin: 5px 0; 
}

footer nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px; 
}

footer .copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    color:hsl(233, 8%, 62%); 
}

footer .copyright p{
    margin-top: 25px; 
}

/* @media all and (max-width: 480px) {
    .whyus, .latestarticles{
        width: 90%; 
    }
    .articles article div{
        width: 100%; 
        padding: 20px; 
    }
} */

@media all and (max-width: 480px){
    header {
        padding: 20px; 
        justify-content: space-between;
        height: 75px; 
        position: relative; 
    }
    header .hamburger{
        display: block; 
        cursor: pointer; 
    }
    header nav, header button{
        display: none; 
    }
    .mobile-nav{
        display: none; 
        flex-direction: column;
        align-items: center;
        padding: 20px; 
        margin: 20px;
        border-radius: 10px;  
        background: white;  
        position: absolute; 
        top: 70px; 
        left: 10px; 
        width: 85%; 
        z-index: 1;
    }
    .mobile-nav ul {
        list-style: none; 
        text-align: center;
    }
    .mobile-nav ul li{
        margin: 20px 0; 
    }
    .mobile-nav ul li a{
        text-decoration: none;
        color:hsl(233, 26%, 24%); 
        font-size: 18px; 
    }
    .mobile-nav ul li a:hover{
        text-decoration: underline;
    }
    .herodiv{
        flex-direction: column;
        margin-bottom: 40px; 
    }
    .left-content{
        width: 90%;
        display: flex; 
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0; 
        margin: 0;
    }
    .right-content{
        order: -1; 
    }
    .right-content img {
        width: 80%;
        transform: translate(0px, -70px);
    }
    .whyus{
        display: flex; 
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%; 
        margin: 0 auto; 
    }
    .heading p{
        width: 100%; 
    }
    .features{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .features article{
        margin-bottom: 40px; 
        margin-right: 0; 
    }
    .features article:last-child{
        margin-bottom: 0;
    }
    .latestarticles{
        text-align: center;
        width: 100%; 
    }
    .latestarticles .articles{
        flex-direction: column;
    }
    .latestarticles .articles article{
        width: 90%; 
        margin: 0 auto; 
        margin-bottom: 20px; 
        text-align: left;
    }
    .latestarticles .articles article div{
        margin: 0; 
    }
    .footer{
        flex-direction: column;
    }
    .footer .socials{
        margin-bottom: 20px;
    }
    .footer nav ul {
        margin-right: 0;
    }
    .footer .copyright{
        align-items: center;
        margin-top: 20px; 
    }
}